body {
    background-color: rgb(49,49,49);

    margin: 0;
    padding: 0;

    height: 100vh;
    overflow: hidden;

    font-family: Arial, sans-serif;
}


.app {
    display: flex;
    height: 100vh;
}



/* SERVER LIST */

.serverList {

    width: 50px;

    background-color: rgb(31,31,31);

    overflow-y: auto;
    scrollbar-width: none;

    padding-top: 5px;
}


.serverList img {

    width: 40px;
    height: 40px;

    border-radius: 15px;

    margin: 5px;

    cursor: pointer;

}



/* CHANNEL LIST */

.channelList {

    width: 240px;

    background-color: rgb(43,43,43);

    color: white;

    overflow-y: auto;
    overflow-x: hidden;

}


.category {

    color: rgb(150,150,150);

    font-size: 12px;

    font-weight: bold;

    padding: 10px;

    text-transform: uppercase;

}



.channel {

    padding: 8px 15px;

    color: rgb(210,210,210);

    cursor: pointer;

}



.channel:hover {

    background-color: rgb(60,60,60);

}



/* MESSAGE AREA */

.messagesContainer {

    flex: 1;

    display: flex;

    flex-direction: column;

    height: 100vh;

    background-color: rgb(35,35,35);

}



.messages {

    flex: 1;

    overflow-y: auto;

    padding: 15px;

    color: white;

}



/* MESSAGE INPUT */

.messageInput {

    display: flex;

    padding: 10px;

    background-color: rgb(40,40,40);

}



.messageInput input {

    flex: 1;

    background-color: rgb(60,60,60);

    color: white;

    border: none;

    border-radius: 5px;

    padding: 10px;

}



.messageInput button {

    margin-left: 8px;

    padding: 10px 15px;

}



/* MESSAGES */

.message {

    padding: 8px 0;

}

.message:hover{
    background-color: rgb(60, 60, 60);
}

.messageHeader {

    display: flex;

    align-items: center;

    gap: 8px;

}



.avatar {

    width: 32px;
    height: 32px;

    border-radius: 50%;

}



.username {

    font-weight: bold;

}



.messageText {

    margin-left: 40px;

    color: rgb(220,220,220);

}



/* DM LIST AVATARS */

.dmAvatar {

    width: 28px;
    height: 28px;

    border-radius: 50%;

}